services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data

  migrations:
    build: .
    depends_on:
      - postgres
    working_dir: /app
    command: python -m app.models.init_db

volumes:
  my_db: