services:
  postgres:
    image: postgres:15
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - my_db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5

  migrations:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    working_dir: /app
    command: [ "python", "-m", "app.models.init_db" ]

  get_data:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    env_file:
      - .env
    working_dir: /app
    command: [ "python", "-m", "app.services.data_get" ]

  print_data:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
      migrations:
        condition: service_completed_successfully
    env_file:
      - .env
    working_dir: /app
    command: [ "python", "-m", "app.services.data_print" ]

volumes:
  my_db: